table {
  background-color: transparent;
}

th {
  text-align: left;
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: $size-1;

  > tbody, > tfoot, > thead {
    > tr {
      > td, > th {
        padding: 8px;
        line-height: 1.428571429;
        vertical-align: top;
        border-top: 1px solid lighten($color-black, 30%);
      }
    }
  }

  > thead {
    > tr {
      > th {
        vertical-align: bottom;
        border-bottom: 2px solid lighten($color-black, 30%);
      }
    }
  }

  > caption + thead, > colgroup + thead, > thead:first-child {
    > tr:first-child {
      > td, > th {
        border-top: 0;
      }
    }
  }
}

.table-bordered {
  border: 1px solid #454545;

  > tbody, > tfoot, > thead {
    > tr {
      > td, > th {
        border: 1px solid #444;
      }
    }
  }

  > thead {
    > tr {
      > td, > th {
        border-bottom-width: 2px;
      }
    }
  }
}

.table-striped {
  > tbody {
    > tr:nth-of-type(odd) {
      background-color: #080808;
    }
  }
}

.table-hover {
  > tbody {
    > tr:hover {
      background-color: #030;
    }
  }
}

.table-responsive {
  overflow-x: auto;
  min-height: 0.01%;

  @include breakpoint(md) {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #444;

    > .table {
      margin-bottom: 0;

      > tbody, > tfoot, > thead {
        > tr {
          > td, > th {
            white-space: nowrap;
          }
        }
      }

      > .table-bordered {
        border: 0;

        > tbody, > tfoot, > thead {
          > tr {
            > td:first-child, > th:first-child {
              border-left: 0;
            }
            > td:last-child, > th:last-child {
              border-right: 0;
            }
          }
        }

        > tbody, > tfoot {
          > tr:last-child {
            > td, > th {
              border-bottom: 0;
            }
          }
        }
      }
    }
  }
}
