.alert {
  padding: $size-1 * 1.5;
  margin-bottom: $size-1 * 2;
  border-radius: 0;
  background-color: $color-black;

  h4 {
    margin-top: 0;
    color: inherit;
  }

  .alert-link {
    font-weight: bold;
  }

  > p,
  > ul {
    margin-bottom: 0;
  }

  > p + p {
    margin-top: 5px;
  }
}

@each $key, $value in $colors {
  .alert-#{$key} {
    color: $value;

    hr {
      border-top-color: lighten($color-black, 30%);
    }

    .alert-link {
      color: darken($value, 10%);
    }
  }
}

.alert-dismissable,
.alert-dismissible {
  padding-right: 35px;

  .close {
    position: relative;
    top: -2px;
    right: -21px;
    color: inherit;
  }
}