/* set base values */
$text-base-size: 1rem;
$text-scale-ratio: 1.25;

/* type scale */
$text-xs: $text-base-size / $text-scale-ratio * $text-scale-ratio;
$text-sm: $text-base-size / $text-scale-ratio;
$text-md: $text-base-size * $text-scale-ratio;
$text-lg: $text-base-size * $text-scale-ratio * $text-scale-ratio;
$text-xl: $text-base-size * $text-scale-ratio * $text-scale-ratio * $text-scale-ratio;
$text-xxl: $text-base-size * $text-scale-ratio * $text-scale-ratio * $text-scale-ratio * $text-scale-ratio;
$text-xxxl: $text-base-size * $text-scale-ratio * $text-scale-ratio * $text-scale-ratio * $text-scale-ratio * $text-scale-ratio;

/* spacing values */
$space-xxxs: 0.25rem;
$space-xxs: 0.375rem;
$space-xs: 0.5rem;
$space-sm: 0.75rem;
$space-md: 1.25rem;
$space-lg: 2rem;
$space-xl: 3.25rem;
$space-xxl: 5.25rem;
$space-xxxl: 8.5rem;

$heading-line-height: 1.1;
$heading-line-body: 1.428571429;

@include breakpoint(md) {
  // you can manage typography editing only these 2 variables
  $text-base-size: 1.25rem;
  $text-scale-ratio: 1.25;
}

body {
  font-size: $text-base-size;
  font-family: $font-family-secondary;
  color: $color-secondary;
  line-height: $heading-line-body;
}

h1, h2, h3, h4, form legend {
  color: darken($color-primary, 10%);
  margin: $space-lg 0;
  line-height: $heading-line-height;
}

.h1, .h2, .h3, .h4, .h5, .h6,
h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-primary;
  font-weight: 500;
}

/* text size */
.text-xxxl {
  font-size: $text-xxxl;
}

h1, .text-xxl {
  font-size: $text-xxl;
}

h2, .text-xl {
  font-size: $text-xl;
}

h3, .text-lg {
  font-size: $text-lg;
}

h4, .text-md {
  font-size: $text-md;
}

.text-sm, small {
  font-size: $text-sm;
}

.text-xs {
  font-size: $text-xs;
}