$font-primary: Hacked-KerX, monospace;
$font-secondary: monospace;
$font-size-text: 1.85em;

$color-primary: #00ff00;
$color-secondary: #9f9f9f;
$color-green: #00dd00;
$color-blue: #10e3ff;
$color-yellow: #e5ff00;
$color-red: #dd0000;
$color-black: #000000;
$color-white: #ffffff;

$bg-primary: #222222;

$margin-figure: 2em 0;