:root {
  $font-primary: Hacked-KerX, monospace, serif;
  $font-secondary: monospace;

	$color-primary: #00ff00;
	$color-secondary: #8b8b8b;
	$color-success: #00dd55;
	$color-info: #10e3ff;
	$color-warning: #ffc800;
	$color-danger: #dd0000;
  $color-dark: #1e1e1e;

  $color-black: #00000000;
  $color-white: #ffffff;
}